.northBanglore-container{
    background: #3AA395;
}

.northBanglore-heading {
    padding-top: 80px;
    padding-bottom: 60px;
}

.northBanglore-heading > h1 {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.northBanglore-inner-content{
    display: flex;
    justify-content: space-between;
}

.northBanglore-left-section-image-container{
    width: 50%;
    margin-right: 30px;
    display: flex;
    align-items: flex-end;
}

.northBanglore-left-section-image-container > img{
    width: 500px;
}

.northBanglore-right-section-texts{
    padding: 30px 0;
    padding-right: 100px;
    color: #fff;
}

.northBanglore-right-section-texts > ul > li{
    padding: 10px 0;
    font-size: 20px;
}

@media screen and (max-width: 930px) {
    .northBanglore-left-section-image-container{
        display: none;
    } 

    .northBanglore-right-section-texts{
        padding: 30px 30px;
    }
}