.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.707);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-options-container{
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-options{
    color: #1C7065;
    cursor: pointer;
    padding: 10px 10px;
    transition: all 0.2s ease-in-out;
}
.navbar-options > a{
    color: #1C7065;
}

.navbar-options:hover{
    color: #fff;
    background-color: #3AA395;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0.5px solid #3AA395;
}

.navbar-options:hover > a{
    color: #fff;
}

.navbar-contact-button{
    color: #fff;
    background-color: #3AA395;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0.5px solid #3AA395;
    cursor: pointer;
}

.navbar-contact-button > a{
    color: #fff;
}

.navbar-side-buttons{
    display: flex;
    align-items: center;
}

.navbar-menu-dropdown-container{
    position: relative;
}

.navbar-menu-button{
    color: #1C7065;
    /* margin-right: 30px; */
    display: none;
}

.navbar-menu-dropdown{
    position: absolute;
    right: 0;
    list-style: none;
    padding-left: 0;
    z-index: 10;
    background-color: #fff;
    color: black;
    width: 200px;
    border: 2px solid #1C7065;
    border-radius: 20px;
    padding: 10px 10px;
    box-shadow: 0px 4px 10px rgba(52, 111, 98, 0.25);
    margin-top: 10px;
    display: none;
}

.navbar-menu-dropdown > li{
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 8px;
}

.navbar-menu-dropdown > li > a{
    color: #1C7065;
}

.navbar-menu-dropdown > li:hover{
    background: #3AA395;
    color: #fff;
}

.navbar-menu-dropdown > li:hover > a{
    background: #3AA395;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .navbar-container{
        padding: 20px 15px;
    }
    .navbar-options-container{
        display: none;
    }
        
    .navbar-menu-button{
        display: block;
    }
        
    .navbar-menu-dropdown{
        display: block;
    }

    .navbar-contact-button{
        display: none;
    }

}