.ourLatestDeals-container{
    padding-top: 10px;
    padding-bottom: 80px;
}

.ourLatestDeals-headings{
    text-align: center;
    padding: 30px 0;
}

.ourLatestDeals-headings > h1{
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: #0D3C35;
}

.ourLatestDeals-slider-contents-container > .carousel{
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.ourLatestDeals-content{
    width: 80%;
    margin: auto;
}

.ourLatestDeals-options{
    padding-bottom: 20px;
    border-bottom: 0.5px solid #656B6B;
}

.ourLatestDeals-options > span{
    padding: 20px 40px;
    color: #BACECC;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.ourLatestDeals-slider-content{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    height: 100%;
}

.ourLatestDeals-slider-content-left-section{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ourLatestDeals-slider-content-right-section{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ourLatestDeals-slider-content-image-container{
    width: 90%;
}

.ourLatestDeals-slider-content-image-container > img{
    width: 100%;
}

.carousel-control-prev{
    justify-content: flex-start;
}

.carousel-control-next{
    justify-content: flex-end;
    color: gray;
}

@media screen and (max-width: 670px) {

    .ourLatestDeals-slider-content{
        flex-direction: column;
        margin: auto;
    }   

    .ourLatestDeals-slider-content-left-section{
        width: 100%;
        justify-content: center;
    }
    
    .ourLatestDeals-slider-content-right-section{
        width: 100%;
        justify-content: center;
    } 

    .ourLatestDeals-options > span{
        padding: 20px 20px;
    }
    
}